<!DOCTYPE html>
<html>
<head>
	<title>Lettore Documenti</title>
	<link href="/static/icon.png" rel="icon" type="image/png" />
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/static/css/weberr.css?v2" />	
	<meta property="og:type" content="website">
	<meta property="og:title" content="Lettore Documenti">
	<meta property="og:description" content="Lettore PDF">
	<meta property="og:url" content="{{ public_url }}/view/">
	<meta property="og:image" content="{{ public_url }}/static/icon.png">
	<meta property="og:site_name" content="Lettore PDF" />
	<meta content="width=device-width, initial-scale = 1.0" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>

<body>
	<div class="tot-centered">
		<h2 class="title-err">⚠️ <u>Ops! Si è verificato un problema!</u></h2>
		{% if msg %}
			<b>{{ msg }}</b>
		{% else %}
			<b>La circolare potrebbe essere stata eliminata o il link non è valido!</b>
		{% endif %}
		
	</div>
	
</body>
</html>
