*{
    box-sizing:border-box
}

.dark-border{
    text-shadow:-2px -2px 0 #222,2px -2px 0 #222,-2px 2px 0 #222,2px 2px 0 #222
}

html,p,strong,div{
    font-family:Arial,Helvetica,sans-serif;
}
.darkmode--activated html,
.darkmode--activated p,
.darkmode--activated strong,
.darkmode--activated div{
    color: #FFF;
}
body{
    margin:0;
}
.darkmode--activated .title-err{
    color:yellow;
    font-size: 160%;
}
a{
    text-decoration:dashed;
    color:#88e;
    transition:.25s
}
a:hover{
    color:#aaf;
    transition:.5s
}

.tot-centered{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

::selection{
    background:#67a2dd;
    color:#fff
}

.darkmode-toggle{
    z-index: 1000;
}